/*                                                          Global Design                                                           */

/* Resetting some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e0e11;
}

/* Adding a font from outside */
@font-face {
    font-family: MilkMango;
    src: url(MilkMango.ttf);
}

/* Adding a font from outside */
@font-face {
    font-family: RhumaSinera;
    src: url(RhumaSineraRegular.ttf);
}

/* Making a parent div that will contain the style */
.parent {
    position: relative;
    border: solid 2px none;
    background-color: gray;
    width: 90%;
    height: 90%;
    border-radius: 8px;
    overflow: hidden;
    animation: 10s ShadowAnimate infinite;
}

/* This div will contain the content */
.child {
    position: absolute;
    background: #222;
    inset: 5px;
}

/* Giving shadow animation */
@keyframes ShadowAnimate {
    0% {
        box-shadow: 0 0 5px lightblue, 0 0 25px lightblue;
    }

    25% {
        box-shadow: 0 0 5px blue, 0 0 25px blue;
    }

    50% {
        box-shadow: 0 0 5px darkblue, 0 0 25px darkblue;
    }

    75% {
        box-shadow: 0 0 5px blue, 0 0 25px blue;
    }

    100% {
        box-shadow: 0 0 5px lightblue, 0 0 25px lightblue;
    }
}

/* Navigation Border Lines */
.borderline,
.borderline1,
.borderline2 {
    position: absolute;
    top: 0;
    inset: 0;
}

.borderline::before,
.borderline::after,
.borderline1::before,
.borderline1::after,
.borderline2::before,
.borderline2::after,
.borderline3::before,
.borderline3::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 90%;
    height: 100vh;
    transform-origin: bottom right;
    animation: LineAnimate 10s linear infinite;
}

/* Different colors and animation delays for each line */
.borderline::before {
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    animation-delay: -1s;
}

.borderline::after {
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    animation-delay: -6s;
}

.borderline1::before {
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    animation-delay: -2s;
}

.borderline1::after {
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    animation-delay: -7s;
}

.borderline2::before {
    background: linear-gradient(0deg, transparent, transparent, rgb(254, 254, 138), rgb(254, 254, 138), rgb(254, 254, 138));
    animation-delay: -3s;
}

.borderline2::after {
    background: linear-gradient(0deg, transparent, transparent, rgb(254, 254, 138), rgb(254, 254, 138), rgb(254, 254, 138));
    animation-delay: -8s;
}

.borderline3::before {
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    animation-delay: -3s;
}

.borderline3::after {
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    animation-delay: -8s;
}

/* Keyframes animation */
@keyframes LineAnimate {
    100% {
        transform: rotate(360deg);
    }
}

/* Navbar styles */
.navbar {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    /* background-color: #1c1c1c;
    box-shadow: 0 0 5px black, 0 0 25px black; */
}

/* First part of NavBar */
.nav1 {
    margin-left: 50px;
    font-family: MilkMango;
    font-size: 35px;
    animation: PortAnimate 10s linear infinite;
}

/* For animating the color of Portfolio of the header */
@keyframes PortAnimate {
    0% {
        color: lightblue;
    }

    20% {
        color: wheat;
    }

    40% {
        color: lightblue;
    }

    60% {
        color: beige;
    }

    80% {
        color: lightblue;
    }

    100% {
        color: white;
    }
}

/* Second part of NavBar */
.nav2 {
    text-decoration: none;
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: right;
    margin-right: 50px;
    font-family: RhumaSinera;
    font-size: 25px;
}

/* For arranging the items in a line */
.nav2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Giving spaces to the item */
.navbar .nav2 li {
    margin-right: 20px;
}

/* Giving the styling to the anchor tags of the nav */
.nav2 a {
    text-decoration: none;
    color: white;
}

.nav2 a:hover {
    color: #ff2770;
}

/*                                                          Home Page Style                                                         */

/* Making the container for the home page */
.HomeParent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 150px;
    word-spacing: 5px;
    /* box-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px black; */
    box-shadow: 0 0 5px gray, 0 0 25px black, 0 0 50px black, 0 0 100px black;

    padding: 50px;
}

/* For styling the Name in the home page */
.HomeParent h3:nth-child(1) {
    color: wheat;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
    /* margin-right: 327px; */
    text-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px black;
}

/* For styling the Profession */
.HomeParent h3:nth-child(2) {
    color: red;
    font-size: 20px;
    /* font-weight: 900; */
    margin-bottom: 10px;
    text-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px black;
}

/* For styling the Intro */
.HomeParent p {
    color: white;
    line-height: 25px;
    text-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px black;
}

/*                                                          About Page Style                                                         */

/* Making the container for the About page */
.AboutParent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    word-spacing: 5px;
    /* box-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px black; */
    padding: 50px;
}

/* For making the container for the content */
.AboutChild{
    height: 120px;
    box-shadow: 0 0 5px gray, 0 0 25px black, 0 0 50px black;
    padding-left: 50px;
    padding-right: 50px;
}

/* For giving space after the box in the about us */
.AboutChild:nth-child(1),
.AboutChild:nth-child(2){
    margin-bottom: 50px;
}

/* For Giving Styling to the heading of the About Us content */
.AboutChild h3{
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
    font-size: 30px;
    text-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px black;
    text-align: center;
    margin-top: 20px;
}

/* For Giving Styling to the heading of the About Us content */
.AboutParent p{
    margin-top: 5px;
    color: white;
    line-height: 25px;
    text-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px black;
    text-align: center;
    margin-bottom: 20px;
}

/*                                                          About Page Style                                                         */

/* Making the container for the About page */
.ProjectsParent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    /* box-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px black; */
    padding: 50px;
}

/* For making the box in the Project page */
.Project{
    height: 450px;
    width: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 35px;
    /* background-color: black; */
    border: none;
    box-shadow: 0 0 5px black, 0 0 25px rgb(37, 35, 35), 0 0 50px darkslategray, 0 0 100px black;
}
.ProjectsChild{
    height: 450px;
    width: 200%;
    border-radius: 35px;
    transition: 2s;
    display: flex;
    left: -50%;
    overflow: hidden;
}

/* For giving some spaces between the boxes */
.Project:nth-child(1),
.Project:nth-child(2){
    margin-right: 50px;
}

.ProMain{
    width: 100%;
    background-color: darkslategray;
    /* text-align: center; */
}

/* For styling the heading */
.ProMain h2{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-top: 70px;
    /* margin-left: 65px; */
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    font-family: MilkMango;
    text-shadow: 0 0 5px gray, 0 0 25px black;
    word-spacing: 4px;
}

/* For styling the paragraph */
.ProMain p{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    line-height: 20px;
    font-weight: 500;
    text-shadow: 0 0 5px gray, 0 0 25px darkslategray, 0 0 50px black;
    font-size: 18px;
}

.ProIntro{
    background-color: rgb(61, 60, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    position: relative;
    left: -50%;
    transition: .8s ease-in-out;
    z-index: 100;
    font-family: RhumaSinera;
    font-size: 50px;
    animation: IntroAni 10s linear infinite;
}

/* For animation */
@keyframes IntroAni {
    0% {
        color: lightblue;
        text-shadow: 0 0 5px black, 0 0 25px lightblue, 0 0 50px rgb(37, 35, 35), 0 0 100px darkslategray;
    }

    20% {
        color: wheat;
        text-shadow: 0 0 5px black, 0 0 25px yellow, 0 0 50px rgb(37, 35, 35), 0 0 100px darkslategray;
    }

    40% {
        color: lightblue;
        text-shadow: 0 0 5px black, 0 0 25px blue, 0 0 50px rgb(37, 35, 35), 0 0 100px darkslategray;
    }

    60% {
        color: beige;
        text-shadow: 0 0 5px black, 0 0 25px wheat, 0 0 50px rgb(37, 35, 35), 0 0 100px darkslategray;
    }

    80% {
        color: lightblue;
        text-shadow: 0 0 5px black, 0 0 25px blue, 0 0 50px rgb(37, 35, 35), 0 0 100px darkslategray;
    }

    100% {
        color: white;
        text-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px rgb(37, 35, 35), 0 0 100px darkslategray;
    }
}

.ProIntro.active{
    left: 0;
}

/* For Second Box */
.ProjectsChild1{
    height: 450px;
    width: 200%;
    border-radius: 35px;
    transition: 2s;
    display: flex;
    left: -50%;
    overflow: hidden;
}

.ProMain1{
    width: 100%;
    background-color: darkslategray;
}

/* For styling the heading */
.ProMain1 h2{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-top: 70px;
    /* margin-left: 65px; */
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    font-family: MilkMango;
    text-shadow: 0 0 5px gray, 0 0 25px black;
    word-spacing: 4px;
}

/* For styling the paragraph */
.ProMain1 p{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    line-height: 20px;
    font-weight: 500;
    text-shadow: 0 0 5px gray, 0 0 25px darkslategray, 0 0 50px black;
    font-size: 18px;
}

.ProIntro1{
    background-color: rgb(61, 60, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    position: relative;
    left: -50%;
    transition: .8s ease-in-out;
    z-index: 100;
    font-family: RhumaSinera;
    font-size: 50px;
    animation: IntroAni 10s linear infinite;
}
.ProIntro1.active{
    left: 0;
}

/* For Third Box */
.ProjectsChild2{
    height: 450px;
    width: 200%;
    border-radius: 35px;
    transition: 2s;
    display: flex;
    left: -50%;
    overflow: hidden;
}

.ProMain2{
    width: 100%;
    background-color: darkslategray;
}

/* For styling the heading */
.ProMain2 h2{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-top: 70px;
    /* margin-left: 65px; */
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    font-family: MilkMango;
    text-shadow: 0 0 5px gray, 0 0 25px black;
    word-spacing: 4px;
}

/* For styling the paragraph */
.ProMain2 p{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    line-height: 20px;
    /* font-weight: 700; */
    text-shadow: 0 0 5px gray, 0 0 25px darkslategray, 0 0 50px black;
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
}

/* For Anchor tag */
.ProMain a{
    text-decoration: none;
    font-family: RhumaSinera;
    font-size: 35px;
}
.ProMain1 a{
    text-decoration: none;
    font-family: RhumaSinera;
    font-size: 35px;
}
.ProMain2 a{
    text-decoration: none;
    font-family: RhumaSinera;
    font-size: 35px;
}

.ProIntro2{
    background-color: rgb(61, 60, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    position: relative;
    left: -50%;
    transition: .8s ease-in-out;
    z-index: 100;
    font-family: RhumaSinera;
    font-size: 50px;
    animation: IntroAni 10s linear infinite;
}

.ProIntro2.active{
    left: 0;
}
/*                                                          About Page Style                                                         */

/* Making the container for the Skills page */
.SkillsParent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    word-spacing: 5px;
    /* box-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px black; */
    padding: 50px;
}

/* For making the container for the content */
.SkillsChild{
    height: auto;
    box-shadow: 0 0 5px gray, 0 0 25px black, 0 0 50px black;
    padding-left: 50px;
    padding-right: 50px;
}

/* For giving space after the box in the Skills us */
.SkillsChild:nth-child(1),
.SkillsChild:nth-child(2){
    margin-bottom: 50px;
}

/* For Giving Styling to the heading of the Skills Us content */
.SkillsChild h3{
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
    font-size: 30px;
    text-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px black;
    text-align: center;
    margin-top: 20px;
}

/* For Giving Styling to the heading of the Skills content */
.SkillsParent p{
    margin-top: 5px;
    color: white;
    line-height: 25px;
    text-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px black;
    text-align: center;
}

/*                                                          Resume Page                                                         */
/* Making the container for the Skills page */
.ResumeParent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    word-spacing: 5px;
    /* box-shadow: 0 0 5px black, 0 0 25px gray, 0 0 50px black; */
    padding: 50px;
}