*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    overflow: hidden;
}

/*                                                              NavBar                                                              */
nav{
    height: 10vh;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    margin-bottom: 10px;
}
/* Top-Border and Bottom-Border for the NavBar */
nav::before {
    content: "";
    position: absolute;
    top: 0;
    border-bottom: 4px white solid;
    width: calc(35%);
    left: 0;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    border-bottom: 4px white solid;
    width: calc(35%);
    left: 65%;
}


nav ul{
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    position: relative;
    overflow: hidden;
}

/* For getting underline in the nav links */
nav ul li a::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: .5s ease;
}

nav ul li a:hover::after{
    transform: scale(1);
    box-shadow: 0 0 4px white, 0 0 8px black, 0 0 16px white;
}

/* Neon Hover Effect */
nav ul li a:hover{
    text-shadow: 0 0 1px white, 0 0 3px black, 0 0 5px white;
}



/*                                              Left Parent that contains ABOUT-PAGE                                              */
.LeftParent{
    height: 300vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: beige;
}

/* About Me */
.LeftParent .AboutPage{
    height: 100vh;
    width: 100vw;
    background-color: red;
}

/*                                     Middle Parent that contains Resume, Home, Contact Pages                                     */
.MiddleParent{
    height: 300vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* Resume */
.MiddleParent .ResumePage{
    height: 100vh;
    width: 100vw;
    background-color: yellow;
    
}

/* Home */
.MiddleParent .HomePage{
    height: 100vh;
    width: 100vw;
}

/* Contact me */
.MiddleParent .ContactPage{
    height: 100vh;
    width: 100vw;
    background-color: brown;
    
}

/*                                              Right Parent that contains ABOUT-PAGE                                              */
.RightParent{
    height: 300vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: beige;
}

/* About Me */
.RightParent .SkillsPage{
    height: 100vh;
    width: 100vw;
    background-color: red;
}


/* For Hover Effect */
.HoverEffect{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}